@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    line-height: 1.2rem;
    padding: 5px;
}
button:hover{
    cursor: pointer;
}
.btn{
    padding:30px;
    border-radius: 50%;
    border-width: 20px;
    border-style: solid;
    position: fixed;
}
html{
    font-family: 'Barlow Semi Condensed', sans-serif;
}

/* main background*/
.section{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    padding: 30px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-height: 100vh;
    position: absolute;
    z-index: 0;
}
.header{
    height: 20vh;
    width: 50vw;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 10px;
}
.score{
    background: white;
    color: hsl(229, 25%, 31%);
    padding: 10px 50px;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    
}
.score h4{
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .05rem;
}
.score h1{
    font-size: 80px;
    font-weight: 700;
}
/*icons*/
.btn-rock{
    border-color: hsl(349, 71%, 52%);
    top: 25%;
    left: 33%;
}
.btn-paper{
    border-color: hsl(230, 89%, 62%);
    top: 75%;
    left: 46%;
}
.btn-scissors{
    border-color: hsl(39, 89%, 49%);
    top: 25%;
    left: 60%;
}
/*home*/
.home{
    margin-top: 30px;
    height: 50vh;
    width: 33vw;
    background: url('../src/images/bg-triangle.svg') no-repeat center center/cover;
}
.rules{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 20px;
}
.btn-rules{
    padding: 15px 40px;
    border: 1px solid white;
    border-radius: 5px;
    background: hsl(237, 49%, 15%);
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
}
.modal{
    height: 50vh;
    width: 33vw;
    background: white;
    position: absolute;
    left: 33.3%;
    top: 25%;
    z-index: 2;
    padding: 20px;
}
.modal-container{
    content: '';
    background: rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}
.modal-header{
    display: flex;
    justify-content: space-between;
    color: hsl(229, 25%, 31%);
    letter-spacing: .1rem;
    font-size: 20px;
}
.close-modal{
    background: none;
    border: none;
    margin-right: 30px;
}
.rules-photo{
    text-align: center;
    padding-top: 40px;
}
.results{
    display: flex;
    font-size: 28px;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 50vw;
}
.user-choice {
    left: 25% ;
    top: 33%;
    margin-top: 40px;
}
.pc-choice {
    margin-top: 40px;
    left: 65%;
    top: 33%;
}
.result{
    transform: translateY(40px);
}
.play-again{
    color: hsl(237, 49%, 15%);
    background: white;
    padding: 20px 50px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
}